  <footer>
    <div id="social">
      <p>
        Social:
      <a href="https://github.com/Deskkks/calendario-de-emo-es"><img src="imagens/GitHub.png" alt="GitHub logo"></a>
      </p>
    </div>
    <div>
      <p><span class="strong">Contato: </span>Kaykyalmeida@hotmail.com.br</p>
    </div>
  </footer>
