  <footer>
    <div id="social">
      <p>
        Social:
      <a href=""><img src="imagens/GitHub.png" alt="GitHub logo"></a>
      </p>
    </div>
    <div>
      <p><span class="strong">Contato: </span>Kaykyalmeida@hotmail.com.br</p>
    </div>
  </footer>
