body{
  background-image: url(../imagens/BackGround.jpg);
  background-size: cover;
}

header{
  background-color: transparent;
}

#imagem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#imagem  p {
  font-size: 2em;
}

#btn{
  width: 20%;
}
