:root{
    --cor1: #B017E8;
    --cor2: #6B26FF;
    --cor3: #1729E8;
    --cor4: #FF24C8;
    --cor5: #1988FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 20px auto;
    width: 80%;
    height: 78.9vh;
}

#btn-calen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor3);
  padding: 5px;
  border: 1px black solid;
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.conteiner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

#calendario {
  width: 50%;
  height: 90%;
}

.cabeçalho-calendario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px black solid;
  font-size: 1.5em;
}

.cabeçalho-calendario span {
  user-select: none;
  cursor: pointer;
}

.cabeçalho-calendario span:hover {
  color: var(--cor3);
}

.btn {
    width: 35px;
    height: 35px;
    border: 1px black solid;
    border-radius: 50%;
    cursor: pointer;
}

.btn > i {
  content: '';
  border: solid black;
  border-width: 0 6px 6px 0;
  padding: 5px;
  display: inline-block;
}

.esq {
  transform: rotate(135deg);
}

.dir {
  transform: rotate(-45deg);
}

#dia-da-semana{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#dia-da-semana > div{
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  width: 100%;
  text-align: center;
}

#dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#dias > div{
  width: 100%;
  height: 75px;
  border: 1px solid black;
}

.outroMes {
  color: rgba(0, 0, 0, 0.6);
}

.selecionado > i {
  content: '';
  background-color: rgb(250, 47, 1);
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
}

#displayMes {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid rgb(0, 0, 0);
  height: 100%;
}

#displayMes > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  height: 70%;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  cursor: pointer;
}

#displayMes > div:hover {
  background-color: var(--cor2);
}

#displayAno {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid rgb(0, 0, 0);
  height: 100%;
}

#displayAno > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  height: 70%;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  cursor: pointer;
}

#displayAno > div:hover {
  background-color: var(--cor2);
}

#descricao {
  width: 30%;
  height: 100%;
}

form {
  height: 100%;
}

#conteiner-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.conteiner-check {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px black solid;
  margin-bottom: 5px;
}

#text {
  height: 100%;
}

#text > textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  resize: none;
  border: 1px solid black;
}

input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
}

span.checkmark {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}

span#podre {
    background-color: rgb(0, 0, 0);
}

span#pessimo {
    background-color: rgb(139, 0, 0);
}

span#ruim {
    background-color: rgb(255, 136, 0);
}

span#mediano {
    background-color: rgb(225, 255, 0);
}

span#bom {
    background-color: rgb(85, 255, 0);
}

span#incrivel {
    background-color: rgb(0, 98, 255);
}

span#perfeito {
    background-color: rgb(255, 0, 153);
}

#conteiner-form > button {
  border: 1px black solid;
  border-radius: 20px;
  background-color: var(--cor3);
  width: 50%;
  margin: 5px auto;
  padding: 5px;
}