<main>
  <div id="imagem">
    <div>
      <p>Marque como foi seus dias.</p>
      <p>Relembre como foi seu ano</p>
    </div>
    <div id="btn">
      <button>Cadastrar</button>
    </div>  
  </div>
</main>
<link rel="stylesheet" href="estilos/home.css">