<main>
  <div id="contFlex">
    <div id="conteiner">
      <h1>Kayky Almeida de Souza</h1>
      <p>
        Tenho 17 anos, estou no terceiro ano do ensino médio comecei a estudar programação em maio de 2022.
      </p>
      <p>
        Sobre meu conhecimento em  frontend estudei HTML e CSS e JavaScript, sobre o backend comecei a estudar node js com express.
      </p>
      <p>
        Baseado no que pessoas sobre de mim, eu me considero uma pessoa proativa, responsavel e com facilidade em aprender coisas novas.
      </p>
      <p>
        <span id="strong">Data de aniversário: </span>20/03/2005
      </p>
      <p>
        <span id="strong">Cidade: </span>São Paulo, SP. Brasil
      </p>
      <p>
        <span id="strong">Contato: </span>kaykyalmeida@hotmail.com.br
      </p>
    </div>
  </div>
</main>
<link rel="stylesheet" href="estilos/sobremim.css">