<main>
  <div id="contFlex">
    <div id="conteiner">
      <h1>Sobre mim</h1>
      <h2>Kayky Almeida de Souza</h2>
      <p>
        Tenho 17 anos, estou no terceiro ano do ensino médio comecei a estudar programação em maio de 2022.
      </p>
      <p>
        Sobre meu conhecimento em  frontend estudei HTML e CSS e JavaScript, sobre o backend comecei a estudar node js com express.
      </p>
      <p>
        Baseado no que pessoas sobre de mim, eu me considero uma pessoa proativa, responsavel e com facilidade em aprender coisas novas.
      </p>
      <p>
        <span class="strong">Data de aniversário: </span>20/03/2005
      </p>
      <p>
        <span class="strong">Cidade: </span>São Paulo, SP. Brasil
      </p>
      <p>
        <span class="strong">Contato: </span>kaykyalmeida@hotmail.com.br
      </p>
    </div>
  </div>
  <div id="contFlex">
    <div id="conteiner">
      <h1>Sobre o projeto</h1>
      <h2>Calendario de emoções</h2>
      <p>
        No calendario de emoções pode ser usado vomo um diário para marcar e descrever seus dias durante o ano. 
      </p>
      <p>
        O projeto usa html, css e JavaScript para frontend e nodejs com express para backend. Também usa passport js local para guardar informações sobre a classificação de cada usuario e mongodb como banco de dados. 
      </p>
      <p>
        Pretendo no futuro adaptar o projeto para mobile. 
      </p>
      <p>
        Projeto criado para estudos.
      </p>
    </div>
  </div>
</main>
<link rel="stylesheet" href="estilos/sobremim.css">