<main>

  
  <form action="/registro" method="post">
    <div id="conteiner-form">
      <div class="input">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome">
      </div>
      <div class="input">
        <label for="email">E-mail: </label>
        <input type="text" name="email" id="email">
      </div>
      <div class="input">
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha">
      </div>
      <button type="submit">Cadastrar</button>
    </div>
  </form>
  <link rel="stylesheet" href="estilos/usuarios.css">
  <link rel="stylesheet" href="estilos/registro.css">

 

</main>