div#check {
    display: grid;
    grid-template-columns: repeat(7,35px);
}

.conteiner_check {
    user-select: none;
}

input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
}

span.checkmark {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}

span#podre {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

span#pessimo {
    background-color: rgb(139, 0, 0);
    opacity: 0.5;
}

span#ruim {
    background-color: rgb(255, 136, 0);
    opacity: 0.5;
}

span#mediano {
    background-color: rgb(225, 255, 0);
    opacity: 0.5;
}

span#bom {
    background-color: rgb(85, 255, 0);
    opacity: 0.5;
}

span#incrivel {
    background-color: rgb(0, 98, 255);
    opacity: 0.5;
}

span#perfeito {
    background-color: rgb(255, 0, 153);
    opacity: 0.5;
}