:root{
    --cor1: #6B26FF;
    --cor2: #6B26FF;
    --cor3: #1729E8;
    --cor4: #FF24C8;
    --cor5: #1988FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--cor2);
}

header {
    background-color: white;
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 5px 40px;
    box-shadow: 0px 1px 3px var(--cor5);
}

main {
    margin: auto;
    width: 1000px;
}

div#conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

div#calendario {
    width: 600px;
    height: 550px;
    margin: 10px;
    background-color: white;
    border: 3px solid var(--cor4);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--cor4);
    text-align: center;
}

#head {
    position: relative;
    margin: 20px 0;
    font-size: 1.5em;
}

button {
    position: absolute;
    border: 1px black solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor5);
}

#btn_prev{
    left: 180px;
}

#btn_prox{
    right: 180px;
}

i {
    content: '';
    border: solid rgb(69, 11, 69);
    border-width: 0 6px 6px 0;
    padding: 5px;
    display: inline-block;
}

.esq {
    transform: rotate(135deg);
}

.dir {
    transform: rotate(-45deg);
}

#dia-da-semana, #dias {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 0 10px;
}

#dia-da-semana > div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 30px;
}

#dias > div {
    width: 82px;
    height: 72px;
    text-align: left;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.outroMes {
    color: rgba(0, 0, 0, 0.5);
}

div#contDescricao {
    margin: 10px;
    height: 550px;
    width: 300px;
    background-color: white;
    border: 3px solid var(--cor4);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--cor4);
}

div#descricao {
    height: 100%;
    width: 90%;
    margin: 20px auto;
}

div#contcheck {
    margin: 5px auto;
    width: 95%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.400);
}

div#contText {
    margin: 5px auto;
    height: 100%;
    width: 95%;
}

textarea{
    padding: 10px;
    height: 88%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    resize: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--cor3);
    padding: 0 40px;
    user-select: none;
}

footer p {
    font-size: 1.3em;
}

footer img {
    height: 20px;
    margin: 2px 5px 0;
}