:root{
    --cor1: #6B26FF;
    --cor2: #6B26FF;
    --cor3: #1729E8;
    --cor4: #FF24C8;
    --cor5: #1988FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--cor2);
}

header {
    background-color: var(--cor5);
    color: var(--cor);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.456);
    text-align: center;
    padding: 40px;
    box-shadow: 0px 1px 3px var(--cor5);
}

main {
    margin: auto;
    width: 600px;
}

div#conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

div#calendario {
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: white;
    border: 3px solid var(--cor4);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--cor4);
}

div#descricao {
    background-color: white;
    margin: 10px;
    border: 3px solid var(--cor4);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--cor4);
}

div#contcheck {
    width: 140px;
    margin: 5px auto 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.400);
}

textarea{
    margin: 3px;
    padding: 3%;
    width: 95%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    resize: none;
    outline: none;
}